{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <style> 
        label {
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </form>
        <p>Don't have an account? <a href="{% url 'users:registration' %}">Sign Up</a></p>
    </div>
</body>
</html>
