{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <style>
        form li {
            color: #fff;
        }
        form label{
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h1>Registration</h1>
        <form action="{% url 'users:registration' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p>Already Have An Account ? <a href="{% url 'users:login' %}">Login</a></p>
    </div>
</body>
</html>
